@font-face {
  font-family: "Unbounded-ExtraLight";
  src: local("Unbounded-ExtraLight"),
    url(./fonts/Unbounded-ExtraLight.ttf) format("truetype");
}

@font-face {
  font-family: "Unbounded-Light";
  src: local("Unbounded-Light"),
    url(./fonts/Unbounded-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Unbounded-Medium";
  src: local("Unbounded-Medium"),
    url(./fonts/Unbounded-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Unbounded-Regular";
  src: local("Unbounded-Regular"),
    url(./fonts/Unbounded-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Unbounded-Bold";
  src: local("Unbounded-Bold"),
    url(./fonts/Unbounded-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Unbounded-Black";
  src: local("Unbounded-Black"),
    url(./fonts/Unbounded-Black.ttf) format("truetype");
}

@font-face {
  font-family: "Linux-Libertine";
  src: local("Linux-Libertine"),
    url(./fonts/LinLibertine_R.ttf) format("truetype");
}

#root {
  font-family: Unbounded-Light;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo-line {
  font-family: Unbounded-Medium;
}

.test-text {
  color: #26c281;
}

.test-text-two {
  font-family: Linux-Libertine;
  font-size: 20px;
}
