@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer components {
  .btn-primary {
    @apply bg-white text-black tracking-wide py-2 px-4 rounded-3xl border border-black hover:text-[#26C281] hover:border-[#26C281] m-2;
  }
}

@layer components {
  .btn-primary-green {
    @apply bg-white text-[#26C281] tracking-wide py-2 px-4 rounded-3xl border border-[#26C281] hover:text-white hover:bg-[#26C281] m-2;
  }
}

@layer components {
  .btn-primary-green-bg {
    @apply bg-[#26C281] text-white  tracking-wide py-2 px-4 rounded-3xl border hover:text-[#26C281] hover:bg-white hover:border-[#26C281] m-2;
  }
}

@layer components {
  .h2 {
    @apply text-black font-[Unbounded-Regular] text-3xl p-2;
  }
}

#root {
  font-family: Unbounded-Light;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo-line {
  font-family: Unbounded-Medium;
}

.test-text-two {
  font-family: Linux-Libertine;
  font-size: 20px;
}
