@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer components {
  .btn-primary {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }
}

#root {
  font-family: Unbounded-Light;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo-line {
  font-family: Unbounded-Medium;
}

.test-text {
  color: #26c281;
}

.test-text-two {
  font-family: Linux-Libertine;
  font-size: 20px;
}
